<a href="https://colab.research.google.com/github/VIKAS-BUDHANI/Indian_Restaurants_in_zamato.github.io-/blob/main/Zamato_restaurants_in_india.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Indian Restaurants in india

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/ML and DA projects/DA preoject/Zamato/zomato_restaurants_in_India.csv")

In [ ]:
df.shape
#so there 211944 rows and 26 columns. lets see how many rows are duplicate and how many coloumns are not relevent to my project

(211944, 26)

In [ ]:
df.head()

,res_id,name,establishment,url,address,city,city_id,locality,latitude,longitude,...,price_range,currency,highlights,aggregate_rating,rating_text,votes,photo_count,opentable_support,delivery,takeaway
0,3400299,Bikanervala,['Quick Bites'],https://www.zomato.com/agra/bikanervala-khanda...,"Kalyani Point, Near Tulsi Cinema, Bypass Road,...",Agra,34,Khandari,27.211450,78.002381,...,2,Rs.,"['Lunch', 'Takeaway Available', 'Credit Card',...",4.4,Very Good,814,154,0.0,-1,-1
1,3400005,Mama Chicken Mama Franky House,['Quick Bites'],https://www.zomato.com/agra/mama-chicken-mama-...,"Main Market, Sadar Bazaar, Agra Cantt, Agra",Agra,34,Agra Cantt,27.160569,78.011583,...,2,Rs.,"['Delivery', 'No Alcohol Available', 'Dinner',...",4.4,Very Good,1203,161,0.0,-1,-1
2,3401013,Bhagat Halwai,['Quick Bites'],https://www.zomato.com/agra/bhagat-halwai-2-sh...,"62/1, Near Easy Day, West Shivaji Nagar, Goalp...",Agra,34,Shahganj,27.182938,77.979684,...,1,Rs.,"['No Alcohol Available', 'Dinner', 'Takeaway A...",4.2,Very Good,801,107,0.0,1,-1
3,3400290,Bhagat Halwai,['Quick Bites'],https://www.zomato.com/agra/bhagat-halwai-civi...,"Near Anjana Cinema, Nehru Nagar, Civil Lines, ...",Agra,34,Civil Lines,27.205668,78.004799,...,1,Rs.,"['Takeaway Available', 'Credit Card', 'Lunch',...",4.3,Very Good,693,157,0.0,1,-1
4,3401744,The Salt Cafe Kitchen & Bar,['Casual Dining'],https://www.zomato.com/agra/the-salt-cafe-kitc...,"1C,3rd Floor, Fatehabad Road, Tajganj, Agra",Agra,34,Tajganj,27.157709,78.052421,...,3,Rs.,"['Lunch', 'Serves Alcohol', 'Cash', 'Credit Ca...",4.9,Excellent,470,291,0.0,1,-1

In [ ]:
df[df["res_id"].duplicated()]
#There are 74 % data are duplicate

,res_id,name,establishment,url,address,city,city_id,locality,latitude,longitude,...,price_range,currency,highlights,aggregate_rating,rating_text,votes,photo_count,opentable_support,delivery,takeaway
101,3400059,Peshawri - ITC Mughal,['Fine Dining'],https://www.zomato.com/agra/peshawri-itc-mugha...,"ITC Mughal, Fatehabad Road, Tajganj, Agra",Agra,34,"ITC Mughal, Tajganj",27.161150,78.043993,...,4,Rs.,"['Lunch', 'Cash', 'Credit Card', 'Dinner', 'De...",4.4,Very Good,353,154,0.0,-1,-1
116,3400060,Taj Bano - ITC Mughal,['Fine Dining'],https://www.zomato.com/agra/taj-bano-itc-mugha...,"ITC Mughal, Fatehabad Road, Tajganj, Agra",Agra,34,"ITC Mughal, Tajganj",27.161132,78.044022,...,4,Rs.,"['Credit Card', 'Lunch', 'Cash', 'Debit Card',...",4.3,Very Good,96,205,0.0,-1,-1
140,3400017,Pinch Of Spice,['Casual Dining'],https://www.zomato.com/agra/pinch-of-spice-civ...,"23/453, Opposite Sanjay Cinema, Wazipura Road,...",Agra,34,Civil Lines,27.201735,78.007625,...,4,Rs.,"['Lunch', 'Delivery', 'Credit Card', 'Dinner',...",4.6,Excellent,915,105,0.0,1,-1
141,3400018,Pinch Of Spice,['Casual Dining'],https://www.zomato.com/agra/pinch-of-spice-taj...,"1076/2, Fatehabad Road, Tajganj, Agra",Agra,34,Tajganj,27.159649,78.043304,...,4,Rs.,"['Delivery', 'Dinner', 'Cash', 'Credit Card', ...",4.6,Excellent,965,690,0.0,1,-1
142,3400850,Urban Deck,['Casual Dining'],https://www.zomato.com/agra/urban-deck-2-civil...,"5th Floor, The P L Palace Hotel, MG Road, Sanj...",Agra,34,Civil Lines,27.199573,78.003699,...,4,Rs.,"['Dinner', 'Cash', 'Debit Card', 'Takeaway Ava...",4.3,Very Good,672,192,0.0,1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211937,18855810,Biryani aur Baatein,['Casual Dining'],https://www.zomato.com/vadodara/biryani-aur-ba...,"Shop 14, Atlantis K-10, A Wing, Genda Circle R...",Vadodara,32,Alkapuri,22.317746,73.168043,...,2,Rs.,"['Dinner', 'Cash', 'Takeaway Available', 'Debi...",4.1,Very Good,154,96,0.0,-1,-1
211938,18662583,Wok On Fire,['Casual Dining'],https://www.zomato.com/vadodara/wok-on-fire-fa...,"Ground Floor 1, Rossette Building, Opposite Se...",Vadodara,32,Fatehgunj,22.323357,73.187461,...,3,Rs.,"['Dinner', 'Cash', 'Debit Card', 'Lunch', 'Tak...",4.0,Very Good,301,126,0.0,1,-1
211939,3202251,Kali Mirch Cafe And Restaurant,['Casual Dining'],https://www.zomato.com/vadodara/kali-mirch-caf...,"Manu Smriti Complex, Near Navrachna School, GI...",Vadodara,32,Fatehgunj,22.336931,73.192356,...,2,Rs.,"['Dinner', 'Cash', 'Lunch', 'Delivery', 'Indoo...",4.1,Very Good,243,40,0.0,-1,-1
211941,18984164,The Grand Thakar,['Casual Dining'],https://www.zomato.com/vadodara/the-grand-thak...,"3rd Floor, Shreem Shalini Mall, Opposite Conqu...",Vadodara,32,Alkapuri,22.310563,73.171163,...,2,Rs.,"['Dinner', 'Cash', 'Debit Card', 'Lunch', 'Tak...",4.0,Very Good,111,38,0.0,-1,-1
211943,18879846,Freshco's - The Health Cafe,['Café'],https://www.zomato.com/vadodara/freshcos-the-h...,"Shop 7, Ground Floor, Opposite Natubhai Circle...",Vadodara,32,Vadiwadi,22.309935,73.158768,...,2,Rs.,"['Dinner', 'Cash', 'Takeaway Available', 'Debi...",4.0,Very Good,93,53,0.0,1,-1

There are 156376 rows are dupicate

In [ ]:
#Droping the duplicates rows from the dataframe
df.drop_duplicates(["res_id"],keep="last",inplace=True)

In [ ]:
#after droping the dupicate data the rows left 
df.shape

(55568, 26)

In [ ]:
#checking the data type
df.dtypes

res_id                    int64
name                     object
establishment            object
url                      object
address                  object
city                     object
city_id                   int64
locality                 object
latitude                float64
longitude               float64
zipcode                  object
country_id                int64
locality_verbose         object
cuisines                 object
timings                  object
average_cost_for_two      int64
price_range               int64
currency                 object
highlights               object
aggregate_rating        float64
rating_text              object
votes                     int64
photo_count               int64
opentable_support       float64
delivery                  int64
takeaway                  int64
dtype: object

In [ ]:
#total
df.isnull().sum()

res_id                      0
name                        0
establishment               0
url                         0
address                    18
city                        0
city_id                     0
locality                    0
latitude                    0
longitude                   0
zipcode                 44623
country_id                  0
locality_verbose            0
cuisines                  470
timings                  1003
average_cost_for_two        0
price_range                 0
currency                    0
highlights                  0
aggregate_rating            0
rating_text                 0
votes                       0
photo_count                 0
opentable_support          19
delivery                    0
takeaway                    0
dtype: int64

In [ ]:
df.columns

Index(['res_id', 'name', 'establishment', 'url', 'address', 'city', 'city_id',
       'locality', 'latitude', 'longitude', 'zipcode', 'country_id',
       'locality_verbose', 'cuisines', 'timings', 'average_cost_for_two',
       'price_range', 'currency', 'highlights', 'aggregate_rating',
       'rating_text', 'votes', 'photo_count', 'opentable_support', 'delivery',
       'takeaway'],
      dtype='object')

In [ ]:
df["res_id"].nunique()

55568

In [ ]:
df["establishment"]

111         ['Fine Dining']
113         ['Fine Dining']
134       ['Casual Dining']
154       ['Casual Dining']
155       ['Casual Dining']
                ...
211939    ['Casual Dining']
211940      ['Quick Bites']
211941    ['Casual Dining']
211942      ['Quick Bites']
211943             ['Café']
Name: establishment, Length: 55568, dtype: object

In [ ]:
df["establishment"] =df["establishment"].str.replace("[", "").str.replace("]", "").str.replace("'", "")

<ipython-input-13-e2e6c935367f>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["establishment"] =df["establishment"].str.replace("[", "").str.replace("]", "").str.replace("'", "")

In [ ]:
df["highlights"] =df["highlights"].str.replace("[", "").str.replace("]", "").str.replace("'", "")

<ipython-input-14-8fedd30904d5>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["highlights"] =df["highlights"].str.replace("[", "").str.replace("]", "").str.replace("'", "")

In [ ]:
df.shape

(55568, 26)

In [ ]:
df.select_dtypes(include="int64").columns

Index(['res_id', 'city_id', 'country_id', 'average_cost_for_two',
       'price_range', 'votes', 'photo_count', 'delivery', 'takeaway'],
      dtype='object')

In [ ]:
df.select_dtypes(include="float").columns

Index(['latitude', 'longitude', 'aggregate_rating', 'opentable_support'], dtype='object')

In [ ]:
df.select_dtypes(include="object").columns

Index(['name', 'establishment', 'url', 'address', 'city', 'locality',
       'zipcode', 'locality_verbose', 'cuisines', 'timings', 'currency',
       'highlights', 'rating_text'],
      dtype='object')

In [ ]:
df[["country_id"]].nunique()
#it not usefull for anlaysis

country_id    1
dtype: int64

In [ ]:
df[["locality_verbose"]].nunique()

locality_verbose    3910
dtype: int64

In [ ]:
#The are null values in cuisines 
df[["cuisines"]].isnull().sum()

cuisines    470
dtype: int64

In [ ]:
# There are 470 null data in cuisines. I have filled null data with NO Cuisine
df["cuisines"]=df["cuisines"].fillna("No Cuisine")

In [ ]:
print(df["cuisines"].unique())
print(df["cuisines"].nunique())

['North Indian, Chinese, Continental' 'North Indian, Mughlai'
 'Asian, South Indian, Continental, Chinese, North Indian' ...
 'Awadhi, North Indian, Chinese, Mughlai'
 'Italian, Lebanese, Healthy Food, Mongolian' 'Cafe, Healthy Food, Coffee']
9383

In [ ]:
df.isnull().sum()

res_id                      0
name                        0
establishment               0
url                         0
address                    18
city                        0
city_id                     0
locality                    0
latitude                    0
longitude                   0
zipcode                 44623
country_id                  0
locality_verbose            0
cuisines                    0
timings                  1003
average_cost_for_two        0
price_range                 0
currency                    0
highlights                  0
aggregate_rating            0
rating_text                 0
votes                       0
photo_count                 0
opentable_support          19
delivery                    0
takeaway                    0
dtype: int64

In [ ]:
#ctaeted data frame for tableau
df.to_csv("zamato indian restaurants.csv",index=False)

In [ ]:
cuisines = pd.Series(df["cuisines"].str.split(", ").sum())
count = cuisines.nunique()
print("Total number of unique cuisines = ", count)

Total number of unique cuisines =  134

In [ ]:
# new data frame of cuisines
 no_restro = pd.DataFrame(cuisines.value_counts())

In [ ]:
cuisines=pd.DataFrame(cuisines)

In [ ]:
# export as csv
no_restro.to_csv("Cuisines.csv",index=True)

In [ ]:
cuisines.value_counts()

North Indian     19226
Chinese          12724
Fast Food        11988
Desserts          7064
Beverages         6754
                 ...
Cake                 2
Swedish              1
Mandi                1
International        1
Vegan                1
Length: 134, dtype: int64